# Mac / Local
.DS_Store

# Python / Tests
*.pyc
pip-selfcheck.json
man

# Virtualenv
.Python
bin
/lib
include

*.pyc
*.sublime-*
.storage
spec.txt
cdb.txt
pubtoken.txt
dev.json
prod.json
privatekey.pem
ee_asset_ids.json
storage/
index.yaml
