<html>
  <head></head>
  <body>
    <p>
      Dear $name,
    </p>

    <p>
      Thank you for sharing your story with Global Forest Watch. You can view
      your story online here: $story_url
    </p>

    <p>
      If you would like to add updates or make changes, please contact our
      Website Coordinator at krenschler@wri.org and we can edit your story
      online.
    </p>

    <p>
      <strong>Remember to share your story with others!</strong> Post it
      on Twitter and Facebook, or recommend it on Google Plus using the
      links at the bottom of the story.
    </p>

    <p>
      Did you enjoy your experience with Global Forest Watch? If you have any
      feedback or suggestions, we are always looking to hear from our users to
      improve the site. You can add your comments here:
      http://www.globalforestwatch.org/getinvolved/provide-feedback
    </p>

    <p>
      Thank you for contributing to Global Forest Watch!
    </p>

    <p>
      Sincerely,<br>
      The Global Forest Watch Team
    </p>
  </body>
</html>
